body{
	margin:0;
	padding:0;
}
#wholebox{
	width:100%;
	
}
#leftbox{
	width: 50%;
	height:600px;
	/*border:1px solid red;*/
	background-color: black;
	float:left;
	box-sizing: border-box;
	margin:0;
	
}
#left-insidebox{
	background-color: cadetblue;
	width: 450px;
	height: 500px;
	margin:50px auto 0 auto;
	border: 5px solid coral;
	border-radius: 30px;
	
	display:flex;
	flex-direction: column;
	
}
#image_section{
	width:100px;
	height:100px;
	margin:0 auto 0 auto;
	
	flex-basis: 100px;
	/*border:1px solid blue;*/
	flex-shrink: 1;
	
	
}
#image_section img{
	height:100px;
	width:100px;
}
#sidebox{
	
	/*border:1px solid red;*/
	float:right;
	width:50%;
	height:600px;
	margin:0;
	box-sizing: border-box;
	
	background-image:url("https://media.giphy.com/media/23UvgsnAh8LxS/giphy.gif");
	
	background-repeat: no-repeat;
	background-size: cover;
}

#chatbox{
	
	font-weight: 500;
	color: white;
	flex-basis: 300px;
    /*border: 3px solid red;*/
     overflow: auto;
    display:flex;
    flex-direction: column-reverse;
}
#chatbox p{
	font-size: 15px; /*kaj kore na*/
	margin-bottom: 50px;
}

/*#botText{
	margin-bottom: auto;
}*/

#userInput{
	/*border: 3px solid green;*/
	display: flex;
	justify-content: space-between;
	flex-basis:100px;
	position: inherit
}
div .sendmsg{
	
	margin:auto;
}

#textInput{
	border: 5px solid #46696A;
	border-radius:30px;
	color: #1e2b2c;
	font-weight: 300;
	background-color: #ffcbb9;
	padding:5px 80px 5px 2px;
	
}
.sendmsg input:focus{
	outline:none;
}
#text{
	margin-left:10px;
}
#buttonInput{
	background: coral;
	padding:5px;
	font-size: 15px;
    
	border-radius:20px;
}

.userText span{
	
	/*background-color: c2d2d3;
	border-radius: 25px;
	border:1px solid black;
	margin-bottom: 10px;
	padding:2px;*/
	background-color: white;
  font-size: 15px;
  padding: 16px 24px;
  
  box-shadow: 5px 10px 18px #1e2b2c;
  color:black;
  border-radius: 30px;
	
}
#jsuserText{
	
	margin-bottom: 50px;
	margin-left: auto;
	}
.botText span{
	font-size: 15px;
	/*background-color: c2d2d3;
	border-radius: 25px;
	border:1px solid black;
	margin-bottom: 10px;
	padding:2px;*/
	background-color: #c2d2d3;
  	padding: 16px 24px;
  	box-shadow: 5px 10px 18px #1e2b2c;
  	color:black;
  	border-radius: 30px;
	
}
#jsbotText{
	margin-bottom: 50px;}
	
